@import "variable.styl"

html, body, .app-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app
  width 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

textarea
  font-family: "Microsoft YaHei"

/* 字体颜色*/
.text-color-red
  color: red

/* 图标样式 */
.icon
  display: inline-block;
  width: 40px;
  height: 100%;
  z-index: 99;
  background: url('../../assets/images/sprite_input.png') no-repeat 0 0

.icon.icon-man {
  background-position: 8px -124px;
}

.icon.icon-pw {
  background-position: 9px -173px;
}

.icon.icon-safe {
  background-position: 9px -271px;
}

.icon.icon-mobile-phone {
  background-position: 10px -221px;
}

.icon.icon-com {
  background-position: 10px -319px;
}

.icon.icon-industry {
  background-position: 10px -320px;
}

.icon.icon-phone {
  background-position: 1px -841px;
}

.icon.icon-clover {
  background-position: 10px -367px;
}
/* ---------------------------------------- */

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 20px;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: hsla(220,4%,58%,.3);
}
/* ---------------------------------------- */

/* 动画 */
/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .3s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-20px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(20px);
}
/* -----------------------------------------*/

/* 侧滑------------------------------------ */
.move-enter-active, .move-leave-active
  enter-active()
.move-enter, .move-leave-active
  leave-active()
/* -----------------------------------------*/

/* ele覆盖--------------------------------- */

.el-menu {
  border-right none
}

.el-upload-list--picture-card .el-upload-list__item-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.el-input-group__append button.el-button.error_phone_number {
  cursor not-allowed
}
.el-input-group__append button.el-button.right_phone_number {
  padding 15px 22px
  background-color: $color;
  color: #fff;
  cursor pointer
}

fieldset
  padding: 20px;
  border: 1px solid #dedede;
  legend
    padding: 0 10px;

fieldset + fieldset
  margin-top 20px

.full-page-bottom
  width 1000px
  .el-notification__content
    font-size 12px

//.el-date-picker {
//  width: 300px;
//}

.el-form-item__content, .el-form-item__label
  line-height 36px

.el-form-item
  margin-bottom: 20px;

.el-input__inner
  height 36px
  line-height 36px

.el-input__icon
  line-height 36px

.el-form-item__error
  padding-top 2px

/* input右下角字数提示样式 */
.el-input__count
  line-height initial

.el-input.is-disabled > .el-input__inner {
  color: #333;
}

.el-textarea.is-disabled .el-textarea__inner {
  color #333333
}

.el-input-group__append
  padding 0 15px

/* input 图标背景问题 */
.el-form.no-bg .el-input__prefix {
  background-color: transparent;
  border: none;
}

/* ele-button样式覆盖 */
.el-button + .el-button {
  margin-left: 12px;
}

.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before
  content: '*';
  color: #f56c6c;
  margin-right: 4px;
  margin-left: -10px;
  z-index: 200;

.el-form-item__label
  color #333333

.el-tabs__item
  font-size 16px

.el-tooltip__popper
  color #666666

.el-table .el-table__body-wrapper {
  overflow-y auto
}

.el-table__body .el-table__row td
  padding: 0;
  font-size: 13px;
  color: #666;
  height: 70px

.new-label_container
  .el-table__body-wrapper
    height auto!important
    min-height 160px
    .el-table__empty-block
      padding-top 20px

.el-table__header-wrapper .cell
  line-height 40px

.el-table .caret-wrapper
  height 35px

.el-table__expand-icon
  margin-bottom 4px

.el-table__empty-text
  line-height 0

.el-dropdown-menu__item--divided
  border-top: 1px dashed #EBEEF5

.el-upload--picture-card
  background-color #FFFFFF

.el-tooltip__popper
  max-width 500px

.el-radio-button__inner
  padding 10px 20px

/* table 展开*/
.el-table-tree.el-table--border td:first-child .cell
  display flex
  padding-left 34px

.el-table [class*=el-table__row--level] .el-table__expand-icon
  margin-left -23px

.el-table__placeholder
  width 0

.el-table__expanded-cell
  background-color: #fafcff;
  .el-form-item__label
    font-size 13px
    color #aaaaaa
  .el-form-item__content
    font-size 13px
    color #666666
    i
      cursor pointer
      font-size 13px
      color $color
/*el-tag*/
.el-select
  .el-tag
    max-width: 210px;
    .el-select__tags-text
      max-width: 170px;
      height 20px
      display: inline-block;
      overflow: hidden;
    .el-tag__close.el-icon-close
      top -5px
.el-tag
  height 24px
  line-height 23px
// 在用
.el-tag.green
  border: 1px solid #c1e8d6;
  background-color: #f2fdf8;
  color: #42b983;
// 处置
.el-tag.gray
  border: 1px solid #e0e0e2;
  background-color: #f4f4f5;
  color: #666;
// 闲置
.el-tag.orange
  border: 1px solid #f6e5ca;
  background-color: #fef8ef;
  color: #ff943d;
// 维修中
.el-tag.red
  border: 1px solid #fcdada;
  background-color: #fef1f1;
  color: #fb357e;
// 借用
.el-tag.skyblue
  border: 1px solid #c0dfff;
  background-color: #f2f8ff;
  color: #409eff;
// 调拨待审
.el-tag.purple
  border: 1px solid #dcc0eb;
  background-color: #f7f2fd;
  color: #9b3bcc;
// 处置待审
.el-tag.roseo
  border: 1px solid #f6c3ed;
  background-color: #fff8fe;
  color: #dc4bc2

.el-button
  padding: 7px 20px
  font-size: 12px

.code-btn
  padding: 15px 20px;
  border-radius: 0 4px 4px 0;
span.skyblue
  color: #409eff;
span.orange
  color: #ff943d;
span.red
  color: #fb357e;
span.green
  color: #42b983;
.el-table th.gutter
  display: table-cell!important;

.el-table colgroup.gutter
  display: table-cell!important;

/* -------------------------------- */

/* 自定义el-button样式 */

.el-button.skyblue
  height 24px
  width 54px
  line-height 24px
  padding 0
  text-align center
  background: $color
  border: 0
  font-size 12px

.el-button.orange
  padding 5px 10px
  background: orange
  border: 0
  font-size 12px

.el-button.green
  padding 5px 10px
  background: #42b983
  border: 0
  font-size 12px
/* -------------------------------- */

/* 自定义通用样式 */
.pd-20
  padding 0 24px
.pd-30
  padding 30px
  height 100%
  box-sizing border-box

.mg-l-10
  margin-left 10px

.mg-r-6
  margin-right 6px

.mg-r-8
  margin-right 8px

.mg-r-10
  margin-right 10px

.mg-r-12
  margin-right 12px

.mg-r-14
  margin-right 14px

.jc-title_dialog
  display flex
  align-items center
  font-size: 16px;
  color: $color;
  .el-tag {
    margin-left 10px
  }
  span
    font-size: 12px;
    color: #f56c6c;

.el-form-item.is-error
  .div-selected
    border-color: #f56c6c!important;

.el-form-item.is-success
  .div-selected
    border-color: #DCDFE6!important;

.el-form-item.is-success
  .el-input__inner, .el-textarea__inner
    border-color: #DCDFE6!important;

.el-tree-node__content
  .disabled-label
    cursor: not-allowed;
    color: #bbb;
/* -------------------------------- */

/* 下拉按钮 */
.el-dropdown-link {
  cursor: pointer;
  color: $color;
}
.el-icon-arrow-down {
  font-size: 12px;
}

// 控制数字输入框
.el-input-number
  .el-input__inner
    text-align left

// 表单控件右边提示
.form-item-tip_container
  position: absolute;
  left: 306px;
  top: 3px

// 消息提示框宽度
.el-message-box
  width 500px

.message-box-400 {
  400px
}

// 图片组件-预览图片
.img-swiper-cmp {
  .el-carousel__container {
    height 60vh
  }
  .el-carousel__button {
    background-color #dedede
  }
}

// 去掉upload组件删除提示语
.el-icon-close-tip {
  display none!important
}
.table-btn-img-wrapper {
  display flex
  .table-btn-img {
    height 30px;
    &:hover {
      cursor pointer
    }
    & + .table-btn-img {
      margin-left 10px
    }
  }
}

.el-form-item {
  .el-select {
    width 100%
    .el-input {
      width 100%
    }
  }
  .el-input-number {
    width 100%
  }
}

.el-form-item {
  .el-form-item__label {
    text-align-last: justify;
    text-align: justify;
    text-justify: distribute-all-lines;
  }
}

.ql-toolbar.ql-snow {
  padding 0 10px!important
}

// 为了处理form表单item元素有动态新增和删除的情况
.form-item-flex {
  position relative
  margin-bottom 10px

  > i {
    position absolute
    right: -30px;
    top: 50%;
    margin-top: -10px;
    font-size 20px
    color $color-button

    &.el-icon-remove {
      color $color-sub-theme
    }

    &:hover {
      cursor pointer
    }
  }
}

// 增删el-form-item
.el-form-item.isCurd {
  .el-form-item__content {
    display flex
    flex-wrap: wrap
    justify-content space-between
    .curd-flex-item {
      display flex
      align-items center
      margin-bottom 10px
      .btn {
        display: inline-block;
        width: 80px;
        height: 30px;
        margin-left 10px
        line-height: 30px;
        text-align: center;
        border-radius 2px
        border: 1px solid $color-button
        color $color-button
        &.del {
          border-color: $color-sub-theme
          color $color-sub-theme
        }
        &:hover {
          cursor pointer
        }
      }
    }
    &::before {
      display:none;
    }
    &::after {
      display:none;
    }
  }
}

// 处理input输入框在radio里面样式问题
.el-radio {
  .el-input__suffix-inner {
    line-height 36px!important
  }
}

// el-radio-group
.el-radio-group {
  .el-radio-button__inner {
    padding 6px 31px
    background-color #cccccc;
    color $color-w
    border 1px solid #cccccc;
  }
}

// el-image间隔
.el-image + .el-image{
  margin-left 30px
}
